{
  "extends": ["eslint:recommended","prettier"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true
  },
  "rules": {
    "nonblock-statement-body-position": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "max-len": [
      2,
      120
    ],
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-unused-expressions": "off",
    "template-curly-spacing" : "off",
    "indent": "off",
    "operator-linebreak": "off",
    "no-await-in-loop": "off",
    "prefer-destructuring": "off",
    "import/no-unresolved": "off", // k6 is actually golang, can't really import it
    "no-restricted-globals": "off", // required by k6, e.g. "init" context
    "import/extensions": "off", // .js ending is ok
    "no-console": "off", // k6 using console.logs
    "no-undef": "off"
  }
}
